.flex {
    gap: 5px;
    display: flex;
}

.bold {
    font-weight: 700;
}

ul {
    list-style: none;
    display: inline-block;
}

.react-flow {
    background: #f6f7fa;
}

.react-flow__node {
    font-size: 10px;
    width: 180px;
    background: #ffffff;
    color: #222;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 4px;
}

.react-flow__node-postman {
    font-size: 10px;
    width: 350px;
    background: #ffffff;
    color: #222;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 4px;
}

.react-flow__node .react-flow__handle {
    top: 24px;
    right: -15px;
    width: 6px;
    height: 10px;
    border-radius: 2px;
    background-color: #778899;
}

.react-flow__node.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.react-flow__node.annotation {
    border-radius: 0;
    text-align: left;
    background: white;
    border: none;
    line-height: 1.4;
    width: 225px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
}

.react-flow__node.annotation .react-flow__handle {
    display: none;
}

.custom-node__header {
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
    border-bottom: 1px solid #e2e8f0;
}

.custom-node__body {
    padding: 10px;
}

.custom-node__select {
    position: relative;
    margin-bottom: 10px;
}

.custom-node__select select {
    width: 100%;
    margin-top: 5px;
    font-size: 10px;
}

/* Tasg */

.tags-input-container {
    padding: 0.5em;
    border-radius: 3px;

    margin-top: 1em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-item {
    background-color: #f6f7fa;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
    border-radius: 8px;
}

.tag-item .close {
    height: 10px;
    width: 10px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    font-size: 12px;
    cursor: pointer;
}

.tags-input {
    width: 100%;
    font-size: 10px;
    padding-left: 3px;
    border: none;
    outline: none;
}
